* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #077187;
    text-align: right;
    
}

.navbar img {
    margin-right: .75rem;
}
.container-fluid ul{
    text-align: right;
}
.container-fluid span {
    text-rendering: auto;
    text-align: center;
    text-shadow: 3px 2px 2px gray;
    font-size: 24px;
    font-size: large;
    margin: 0px;
    font-optical-sizing: auto;
}

.navbar-nav {
    margin-left: 2rem;
    text-align: right;
}

#jumbotron {
    background-color: cadetblue;
    padding-top: 25px;

}
.carrusel p{
    text-align: center;
}
.jumbotron img {
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 1px 1px black;
    width: 80%;
    margin-left: 10%;
}



.jumbo-text {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 9%;
    padding-right: 9%;
    vertical-align: center;
}

.jumbo-text-left {
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    color: chocolate;
}

.jumbo-text-right {
    font-size: large;
    color: black;
    max-width: 90%;
    margin:  auto;
}

.blog h1{
    text-align: center;
    font-weight: bold;
    margin: 20px 20px;
    }

.blog-card {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}


.card {
    border-radius: 10px;
    border: 2px solid;
    border-color: beige;
    box-shadow: 7px 5px 5px gray;
    width: 320px;
    height: auto;
    background-color: antiquewhite;
}

.card-header {
    padding: 0px;
    margin: 0px;
}

.card-header img {
    padding: 0px;
    margin: 0px;
    min-width: 318px;
    height: 200px;
    border-radius: 7px;
}

.card-body h4{
    margin-bottom: 10px;
    font-weight: bold ;
}

.carrusel .lead{
    padding-bottom: 20px;
}

/* Configuración para Tablet*/

@media (max-width:1024px) {
    .blog-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 20px;
    }
    .jumbo-text-right {
        font-size: medium;

    }    
    .jumbo-text-left {
        font-size: x-large;
    }
    .jumbotron img {
        align-content: center;
        border-radius: 10px;
        box-shadow: 2px 1px 1px black;
        width: 90%;
        margin-left: 5%;
    }

}

@media (max-width:760px) {
    .blog-card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        margin-bottom: 20px;
    }
    .jumbo-text-right {
        font-size: small;

    }    
    .jumbo-text-left {
        font-size: large;
    }
}
/* Configuración para Celular*/

@media (min-width:320px) and (max-width: 425px) {
    .jumbo-text-left {
        font-size: 12px;
    }

    .jumbo-text-right {
        font-size: 10px;
    }


    footer {
        grid-area: footer;
        background-color: black;
        min-height: 100px;
    }

    .blog-card {
        display: grid;
        grid-template-columns: 1fr;

    }
}